<div class="container main-body">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="mt-4">{{offer?.title}}</h1>
      <hr>
      <div class="form-row" style="text-align: center">
        <div class="col-md-6"> Address: {{offer?.address}}</div>
        <div class="col-md-6"> Published on {{calcTime(offer?._kmd.lmt)}}</div>
      </div>
      <hr>
      <div style="text-align: center">
        <img class="img-fluid rounded" src={{offer?.image}} alt="">
      </div>
      <hr>
      <p class="lead">{{offer?.description}}</p>
      <hr>
      <div class="card my-4">
        <h5 class="card-header">Contact Details:</h5>
        <div class="card-body">
          <div class="form-row col-md-12">
            <div class="col-md-4">
              <h5>Price: <strong>{{offer?.price}} EUR</strong></h5>
            </div>
            <div class="col-md-4">
              <h5>Area: <strong>{{offer?.area}} sq/m2</strong></h5>
            </div>
            <div class="col-md-4">
              <h5>Category: <strong>{{offer?.category}}</strong></h5>
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="col-md-4">
              <h5>Name: <strong>{{offer?.sellerName}}</strong></h5>
            </div>
            <div class="col-md-4">
              <h5>Phone: <strong>{{offer?.sellerPhone}}</strong></h5>
            </div>
            <div class="col-md-4">
              <h5>Email: <strong>{{sellerEmail}}</strong></h5>
            </div>
          </div>
        </div>
       <h5 *ngIf="!isAuthor" class="card-header"><a [routerLink]="profileLink" class="nav-item">Click here for more offers by this user</a></h5>
      </div>
      <button *ngIf="isAuthor || isAdmin" class="btn btn-dark" (click)="edit(offer?._id)" type="submit">Edit Offer</button>
      <button *ngIf="isAuthor || isAdmin" class="btn btn-danger" (click)="delete(offer?._id)" type="submit">Delete Offer</button>
      <hr>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form (ngSubmit)="submit()" [formGroup]="comment">
            <div class="form-group">
              <textarea formControlName="content" style="resize: none;" class="form-control" rows="3"
                        type="text"></textarea>
            </div>
            <div *ngIf="comment.get('content').errors" class="alert alert-danger">Comment must be between 1 and 200
              symbols
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <!-- Single Comment -->
      <div *ngFor="let offerComment of offerComments" class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h4 class="card-header" style="border-radius: 5px">{{offerComment?.content}}</h4>
          <h6> commented on: {{calcTime(offerComment?._kmd.lmt)}} by <a routerLink="/" (click)="anotherUserAccountLink(offerComment?.author)" class="nav-item">{{offerComment?.author}}</a></h6>
          <br>

        </div>
      </div>
    </div>
  </div>
</div>
