<div class="container main-body">
  <div class="form-row col-md-12" style="justify-content: center">
    <h1>Welcome to Office Rent!</h1>
    <h3>Browse the offers or publish your own one for free!</h3>
  </div>
  <div class="form-row col-md-12 ">
    <div routerLink="/offers" class="col-md-5 nagivation-panels">
      <h2>RENT AN OFFICE</h2>
      <hr>
      <a routerLink="/offers"><i style="font-size: 200px" class="fas fa-briefcase"></i></a>
    </div>
    <div class="col-md-2 or"></div>
    <div routerLink="/create" class="col-md-5 nagivation-panels">
      <h2>PUBLISH AN OFFER</h2>
      <hr>
      <a routerLink="/create"><i style="font-size: 180px" class="fas fa-edit"></i></a>
    </div>
  </div>
  <div *ngIf="isAdmin" style="margin-top: 10px" class="form-row col-md-12 ">
    <div class="col-md-3"></div>
    <div routerLink="/admin" class="col-md-6 nagivation-panels">
      <h2>ADMIN PANEL</h2>
      <hr>
      <a routerLink="/admin"><i style="font-size: 200px" class="fas fa-cogs"></i></a>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
