.pokemon-card {
  display: inline-block;
  width: 320px;
  text-align: center;
  margin: 0.50em;
  padding: 0.25em;
}

.pokemons:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: scale(1.1);
}

.pokemons {
  text-align: center;
}
