<div class="container main-body">
  <h1>Welcome to Office Rent</h1>
  <h3>Please Register to Browse the Site</h3>
  <form (ngSubmit)="submit(register)" [formGroup]='register'>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input formControlName="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
        <div *ngIf="register.get('email').errors && register.get('email').touched" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputName4">Username</label>
        <input formControlName="username" type="text" class="form-control" id="inputName4" placeholder="Username">
        <div *ngIf="register.get('username').errors && register.get('username').touched" class="alert alert-danger">Username is required</div>
      </div>
      <div formGroupName="auth" class="col-md-12">
        <div class="form-group">
          <label for="inputPassword4">Password</label>
          <input formControlName="password" type="password" class="form-control" id="inputPassword4"
                 placeholder="Password">
          <div *ngIf="register.get('auth').get('password').errors && register.get('auth').get('password').touched" class="alert alert-danger">
            Password is required
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPass">Confirm Password</label>
          <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPass"
                 placeholder="Confirm Password">
          <div
            *ngIf="register.get('auth').get('confirmPassword').errors  && register.get('auth').get('confirmPassword').touched" class="alert alert-danger">
            Passwords do not match
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputFirstName">First Name</label>
        <input formControlName="firstName" type="email" class="form-control" id="inputFirstName" placeholder="First Name">
        <div *ngIf="register.get('firstName').errors && register.get('firstName').touched" class="alert alert-danger">First Name is required</div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastName">Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        <div *ngIf="register.get('lastName').errors && register.get('lastName').touched" class="alert alert-danger">Last Name is required</div>
      </div>
    </div>
    <button type="submit" [disabled]="register.invalid" class="btn btn-primary">Register</button>
    <a routerLink="/login">Already have an account?</a>
  </form>
</div>
