<nav class="navbar navbar-expand-lg probootstrap_navbar" id="probootstrap-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Office Rent</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li *ngIf="loggedIn()" class="nav-item"><a class="nav-link" routerLink="/offers">Offers</a></li>
        <li *ngIf="!loggedIn()" class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
        <li *ngIf="!loggedIn()" class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
        <li *ngIf="loggedIn()" class="nav-item"><a class="nav-link" routerLink="/create">Create</a></li>
        <li *ngIf="loggedIn()" class="nav-item"><a class="nav-link" routerLink="/my-posts">My Offers</a></li>
        <li *ngIf="loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="profileLinkVariable" (click)="profileLinkRedirect()">My Profile</a></li>
        <li *ngIf="loggedIn()" class="nav-item"><a class="nav-link" routerLink="/logout">Logout</a></li>
      </ul>
    </div>
</nav>
